@layout("/common/_container.html"){
@var sensors = airSensor.findAllAirSensor();
@var expressions = airSensor.findSensorExpression();
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="warnParamForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                             <#input id="tName" name="名称" underline="true" value="${item.tName}"/>
                            <#input id="sortCode" name="顺序位" underline="true"  value="${item.sortCode}"/>
                            <#select id="sensorId" name="所属传感器"  underline="true" >
                             	  @for(sensor in sensors){
                             	       <option value="${sensor.key}" ${decode(item.sensorId,sensor.key,'selected','')}>${sensor.value.tName}</option>
                             	  @}
							</#select>
							<#select id="expression" name="表达式类型"  underline="true" >
                             	  @for(expression in expressions){
                             	       <option value="${expression.key}" ${decode(item.expression,expression.key,'selected','')}>${expression.value}</option>
                             	  @}
							</#select>
                            <#input id="threshold" name="阈值" underline="true" value="${item.threshold}"/>
                </div>

                <div class="col-sm-6">
                             <#input id="startTime" name="开始时间" class="form_datetime" underline="true" value="${item.startTime}"/>
							
                            <#input id="endTime" name="结束时间"  class="form_datetime" underline="true" value="${item.endTime}"/>
                            <#select id="controlMode" name="控制方式"  underline="true" >
                             	 <option value="0" ${item.controlMode=='0' ? 'selected' : ''}>开启</option>
                             	 <option value="1" ${item.controlMode=='1' ? 'selected' : ''}>关闭</option>
							</#select>
                            
                            <#select id="warnInterval" name="预警间隔" underline="true" >
                            	<option value="10" ${decode(item.warnInterval,'10','selected','')}>10</option>
                            	<option value="20" ${decode(item.warnInterval,'20','selected','')}>20</option>
                            	<option value="30" ${decode(item.warnInterval,'30','selected','')}>30</option>
                            	<option value="40" ${decode(item.warnInterval,'40','selected','')}>40</option>
                            	<option value="50" ${decode(item.warnInterval,'50','selected','')}>50</option>
                            	<option value="60" ${decode(item.warnInterval,'60','selected','')}>60</option>
							</#select>
                            
                            <#input id="alarmTime" name="报警时间" underline="true" placeholder="分钟" value="${item.alarmTime}"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AirSensorWarnParamInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AirSensorWarnParamInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/air/airSensorWarnParam/airSensorWarnParam_info.js"></script>
<script type="text/javascript">
	$.datetimepicker.setLocale('zh');
	 $(".form_datetime").datetimepicker({ 
		 format: 'H:i',//显示格式  
		 datepicker:false,
		 step:5
	}); 
</script>
@}
