@layout("/common/_container.html"){
<div class="col-sm-4  col-sm-offset-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>关于</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="border:none !important;background-color: #f0fcff; ">
							<table style="table-layout: fixed;" cellspacing="0" cellpadding="0">
								<colgroup>
									<col style="width: 45%">
									<col style="width: 55%">
								</colgroup>
								<tbody>
									<tr>
										<td>授权类型：</td>
										<td>正式版</td>
									</tr>
									<tr>
										<td>授权人：</td>
										<td>河南省东森电子工程有限公司</td>
									</tr>
									<tr>
										<td>有效期至：</td>
										<td>2018-12-31</td>
									</tr>
									<tr>
										<td>版本号：</td>
										<td>v1.0.0</td>
									</tr>
									<tr>
										<td>注册用户数：</td>
										<td>100000</td>
									</tr>
									<tr>
										<td>在线用户数：</td>
										<td>100000</td>
									</tr>
									<tr>
										<td>报表数：</td>
										<td>无限制</td>
									</tr>
									<tr>
										<td>移动设备数：</td>
										<td>100000</td>
									</tr>
								</tbody>
							</table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@}

