@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="areaInfoForm">

            <input type="hidden" id="id" value="${item.id}">
			<input type="hidden" id="typeValue" value="${item.type}">
			
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="code" name="区域编码" value="${item.code}" underline="true"/>
                            <#input id="name" name="区域名称" value="${item.name}" underline="true"/>
                            <#select id="type" name="区域类型" underline="true" >
								<option value="1" >国家</option>
								<option value="2">省份、直辖市</option>
								<option value="3">地市</option>
								<option value="4">区县</option>
								<option value="5">街道</option>
							</#select>
                </div>

                <div class="col-sm-6">
                			<#input id="pName" name="上级区域" readonly="readonly" hidden="parentId" 
                			hiddenValue="${item.parentId}" value="${pName}"
                            clickFun="AreaInfoDlg.showAreaSelectTree(); return false;" underline="true"
                            style="background-color: #ffffff !important;"/>
                			
                			<#iconselect  name="icon"  title="区域图标" value="${item.icon!}" underline="true"/>
                            <#input id="remarks" name="备注信息" value="${item.remarks}" underline="true"/>
                </div>
            </div>
             <!-- 父级区域的选择框 -->
            <div id="parentAreaMenu" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="parentAreaMenuTree" class="ztree tree-box" style="width: 245px !important;"></ul>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AreaInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AreaInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/area/area_info.js"></script>
@}
