@layout('/common/_container.html'){

 <div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>历史数据查询</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                       	<div class="row">
							<div class="col-lg-2 col-sm-3" style="width: 17.666667%;margin-left: inherit;">
							<input class="form-control" style="margin-bottom: 10px;" id="search_input" name="code" placeholder="输入名称查询" type="text">
								<div class="panel panel-default" >
									<div class="panel-heading">区域列表</div>
									<div class="panel-body dept-tree">
										<ul id="areaTree" class="ztree"></ul>
									</div>
								</div>
							</div> 
							
							<div class="col-lg-10 col-sm-9" style="margin-right: inherit;">
								<div class="row">
									<div class="col-lg-10 col-sm-9">
										<div class="row form-horizontal"  id="searchForm">
											<div class="col-lg-4 col-sm-12">
												 <#NameCon id="condition" name="名称" placeholder="传感器名称/编号/排序"/>
											</div>
											<div class="col-lg-4 col-sm-6">
												<#TimeCon id="beginTime" name="开始时间" isTime="true" pattern="YYYY-MM-DD hh:mm:ss"/>
											</div>
											<div class="col-lg-4 col-sm-6">
												<#TimeCon id="endTime" name="结束时间" isTime="true" pattern="YYYY-MM-DD hh:mm:ss"/>
											</div>
											
											
										</div>
									</div>
									<div class="col-lg-2 col-sm-3">
										<div class="row">
											<div class="col-lg-12 col-sm-12">
												<#button name="搜索" icon="fa-search" clickFun="AirData.search()"/>
												<#button name="重置" icon="fa-trash" clickFun="AirData.resetSearch()" space="true"/>
											</div>
										</div>
									</div>
								</div>
								<div class="hidden-xs" id="AirDataTableToolbar" role="group">
									@if(shiro.hasPermission("/airStationData/export")){
									<#button name="导出Excel" icon="fa-cloud-upload" clickFun="AirData.exportExcel()" space="true"/>
									@}
								
								</div>
								<#table id="AirDataTable"/>
							</div>
							
							
							
							
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/air/airStationData/airStationData.js"></script>
@}


