<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.air.dao.AirSensorWarnParamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.air.model.AirSensorWarnParam">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="t_name" property="tName" />
        <result column="sort_code" property="sortCode" />
        <result column="valid" property="valid" />
        <result column="sensor_id" property="sensorId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="expression" property="expression" />
        <result column="threshold" property="threshold" />
        <result column="control_mode" property="controlMode" />
        <result column="warn_interval" property="warnInterval" />
        <result column="alarm_time" property="alarmTime" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, t_name AS tName, sort_code AS sortCode, valid, sensor_id AS sensorId, start_time AS startTime, end_time AS endTime, expression, threshold, control_mode AS controlMode, warn_interval AS warnInterval, alarm_time AS alarmTime, create_by AS createBy, create_time AS createTime, update_by AS updateBy, update_time AS updateTime, remark
    </sql>
    
    

</mapper>
