<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.air.dao.AirStationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.air.model.AirStation">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="t_name" property="tName" />
        <result column="sort_code" property="sortCode" />
        <result column="valid" property="valid" />
        <result column="area_id" property="areaId" />
        <result column="dept_id" property="deptId" />
        <result column="detail_address" property="detailAddress" />
        <result column="offx" property="offx" />
        <result column="offy" property="offy" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="type" property="type" />
        <result column="conn_method" property="connMethod" />
        <result column="ip_addr" property="ipAddr" />
        <result column="port" property="port" />
        <result column="installer" property="installer" />
        <result column="install_time" property="installTime" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
         <result column="location" property="location" />
        <result column="remark" property="remark" />
        <result column="data_upload_interval" property="dataUploadInterval" />
        <result column="data_upload_status" property="dataUploadStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, t_name AS tName, sort_code AS sortCode, valid, area_id AS areaId, dept_id AS deptId, detail_address AS detailAddress, offx, offy, longitude, latitude, type, conn_method AS connMethod, ip_addr AS ipAddr, port, installer, install_time AS installTime, create_by AS createBy, create_time AS createTime, update_by AS updateBy, update_time AS updateTime, location, 
        remark, data_upload_interval AS dataUploadInterval, data_upload_status AS dataUploadStatus
    </sql>

	<select id="selectByParams" resultType="map">
		select <include refid="Base_Column_List"/> from air_station
			<where>
				<if test="condition!=null and condition!=''">
					and (t_name like CONCAT('%', #{condition}, '%') or sort_code like CONCAT('%', #{condition}, '%'))
				</if>
					and valid = '0'
			</where>
			<choose>
				<when test="orderByField!=null and orderByField!=''">
					<choose>
						<when test="isAsc == true">
							order by ${orderByField} ASC
						</when>
						<otherwise>
							order by ${orderByField} DESC
						</otherwise>
					</choose>
				</when>
				<otherwise>
					order by create_time desc
				</otherwise>
			</choose>
	
	</select>

</mapper>
