@layout("/common/_container.html"){
@var airStations = airStation.findAllAirStation();
@var sensorTypes = airSensor.findAllAirSensorType();
@var units = airSensor.findAllAirUnit();
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="airSensorForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="tName" name="名称" underline="true" value="${item.tName}"/>
                            <#input id="sortCode" name="排序" underline="true" value="${item.sortCode}"/>
                             <#select id="stationId" name="所属气象站"  underline="true" >
                             	  @for(station in airStations){
                             	       <option value="${station.key}" ${decode(item.stationId,station.key,'selected','')}>${station.value.tName}</option>
                             	  @}
							</#select>
                            
                             <#select id="typeId" name="类型" underline="true" >
                            	@for(sensorType in sensorTypes){
                            	<option value="${sensorType.key}" ${decode(item.typeId,sensorType.key,'selected','')}>${sensorType.value.tName}</option>
                            	@}
							</#select>
                            
                            <#input id="sensorModel" name="型号" underline="true" value="${item.sensorModel}"/>
                            <#input id="rtuId" name="寄存器地址" underline="true" value="${item.rtuId}" placeholder="16进制格式，例：01"/>
                            
                            <#input id="command" name="查询指令" underline="true" value="${item.command}" placeholder="ModbusRtu指令,例：010300000002C40B"/>
                </div>

                <div class="col-sm-6">
               				 <#select id="unit" name="检测单位"  underline="true" >
                             	  @for(unit in units){
                             	       <option value="${unit}" ${decode(item.unit,unit,'selected','')}>${unit}</option>
                             	  @}
							</#select>
                            <#input id="voltage" name="电压（V）" underline="true" value="${item.voltage}"/>
                            <#input id="electricity" name="电流（mA）" underline="true" value="${item.electricity}"/>
                            <#input id="installer" name="安装者" underline="true" value="${item.installer}"/>
                             <#input id="installTimes" name="安装时间" underline="true" type="date"  value="${item.installTime}"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/>
                            <#iconselect  name="icon"  title="图标" underline="true"  value="${item.icon}"/>
                            <#input id="remark" name="备注" underline="true" value="${item.remark}"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AirSensorInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AirSensorInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/air/airSensor/airSensor_info.js"></script>
@}
